{% extends 'header.html' %}

{% block content %}

<div class="container">
    <form action="{{ url_for('agendamentos') }}" method="post">
        <h2 class="mt-4">Criar Agendamento</h2>

        {% if current_user.is_admin %}
            <div class="form-group">
                <label for="cliente">Cliente:</label>
                <select id="cliente" name="cliente" class="form-control" required>
                    {% for cliente in clientes %}   
                    <option value="{{ cliente.id }}">{{ cliente.nome }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        <div class="form-group">
            <label for="dataHora">Data e hora: </label>
            <input type="datetime-local" id="dataHora" name="dataHora" class="form-control" required/>

        </div>

        <div class="form-group">
            <label>Serviços:</label>
            {% for servico in servicos %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" 
                        name="servicos" value="{{ servico.id }}" 
                        id="servicos{{ servico.id }}">
                <label class="form-check-label" for="servicos{{ servico.id }}">
                    {{ servico.nome }} - {{ servico.descricao }}
                </label>
        </div>
            {% endfor %}
        <div class="form-group mt-4">
            <input type="submit" value="Agendar" class="btn btn-primary">
        </div>
    </form>
    {% if current_user.is_admin %}
    <a href="{{ url_for('cadastrarCliente') }}" class="btn btn-primary">Criar Cliente</a>
    <a href="{{ url_for('servicos') }}" class="btn btn-primary">Cadastrar Servico</a>
    {% endif%}

</div>
{% endblock %}