{% extends 'header.html' %}

{% block content %}
<div class="container mt-5">
    {% if current_user.is_authenticated %}
        <h1 class="text-center mb-4">Olá, {{ current_user.nome }}!</h1>

        {% if current_user.is_admin %}

        <h1 class="mb-4">Lista de Agendamentos</h1>
        {% if agendamentos %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Data</th>
                        <th>Estado</th>
                        <th>Serviços</th>
                        <th>Confirmado</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for agendamento in agendamentos %}
                    <tr>
                        <td>{{ agendamento.cliente.nome }}</td>
                        <td>{{ agendamento.data.strftime('%d/%m/%Y %H:%M') }}</td>
                        <!-- Verificação de estado -->
                        {% if agendamento.estado.value == 'pendente' %}
                        <td class="bg-success text-white">
                            {{ agendamento.estado.value | capitalize }}
                        </td>
                        {% else %}
                        <td class="bg-secondary text-white">
                            {{ agendamento.estado.value | capitalize }}
                        </td>
                        {% endif %}
                        <td>
                            {% for servico in agendamento.servicos %}
                                {{ servico.nome }} - R$ {{ "%.2f"|format(servico.preco) }}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% if agendamento.is_confirmed %}
                            <p>Sim</p>
                            {% else %}
                            <p>Não</p>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('editarAgendamento', id=agendamento.id) }}" class="btn btn-outline-info">Editar</a>
                            {% if agendamento.is_confirmed %}
                            <a href="#" class="btn btn-success">Confirmado</a>
                            {% else %}
                            <a href="{{ url_for('confirmarAgendamento', id=agendamento.id) }}" class="btn btn-outline-success">Confirmar</a>
                            {% endif %}
                            <a href="{{ url_for('cancelarAgendamento', id=agendamento.id) }}" class="btn btn-outline-warning">Cancelar</a>
                            <a href="{{ url_for('excluirAgendamento', id=agendamento.id) }}" class="btn btn-outline-danger">Excluir</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning">Nenhum agendamento encontrado.</div>
        {% endif %}
        {% else %}
        <div class="card mb-4">
            <div class="card-body">
            <h5 class="card-title text-center">Quadro de Avisos</h5>
                {% if semanas_com_multiplos %} <!-- se existem semanas com +1 agendamento -->
                    <div class="alert alert-warning mt-3 text-danger">
                        <h4>📅 Otimize seus agendamentos!</h4>
                        <h5>Você tem múltiplos agendamentos nas seguintes semanas:</h5>
                        <ul>
                            {% for semana, agendamentos in semanas_com_multiplos.items() %}
                            <li>
                                Semana {{ semana[1] }} de {{ semana[0] }}:
                        <ul>
                            {% for agendamento in agendamentos %}
                            <li>
                                {{ agendamento.data.strftime('%d/%m/%Y %H:%M') }} - 
                                {% for servico in agendamento.servicos %}
                                    {{ servico.nome }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            </li>
                            {% endfor %}
                        </ul>
                                <form action="{{ url_for('unirAgendamentos', id1=agendamentos[0].id, id2=agendamentos[1].id) }}" method="POST">
                                    <div class="form-group mt-3">
                                        <input type="hidden" name="dia1" value="{{ agendamentos[0].data.strftime('%A') }}">
                                        <input type="hidden" name="dia2" value="{{ agendamentos[1].data.strftime('%A') }}">
                                        <button type="submit" class="btn btn-outline-danger">Unir Agendamentos</button>
                                    </div>  
                                </form>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <div class="alert alert-success">
                        <p>Tudo certo com seus agendamentos!</p>
                    </div>
                {% endif %}
                </div>
    </div>
    
        <h1 class="mb-4">Lista de Agendamentos</h1>
        {% if agendamentos %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Data</th>
                        <th>Estado</th>
                        <th>Serviços</th>
                        <th>Confirmado</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for agendamento in agendamentos %}
                    <tr>
                        <td>{{ agendamento.cliente.nome }}</td>
                        <td>{{ agendamento.data.strftime('%d/%m/%Y %H:%M') }}</td>
                        <!-- Verificação de estado -->
                        {% if agendamento.estado.value == 'pendente' %}
                        <td class="bg-success text-white">
                            {{ agendamento.estado.value | capitalize }}
                        </td>
                        {% else %}
                        <td class="bg-secondary text-white">
                            {{ agendamento.estado.value | capitalize }}
                        </td>
                        {% endif %}
                        <td>
                            {% for servico in agendamento.servicos %}
                                {{ servico.nome }} - R$ {{ "%.2f"|format(servico.preco) }} {% if not loop.last %}, {% endif %}{% endfor %}
                        </td>
                        <td>
                            {% if agendamento.is_confirmed %}
                            <p>Sim</p>
                            {% else %}
                            <p>Não</p>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for('editarAgendamento', id=agendamento.id) }}" class="btn btn-outline-success">Editar</a>
                            <a href="{{ url_for('cancelarAgendamento', id=agendamento.id) }}" class="btn btn-outline-danger">Cancelar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning">Nenhum agendamento encontrado.</div>
        {% endif %}
        
        {% endif %}
                <a href="{{ url_for('agendamentos') }}" class="btn btn-primary">Criar Agendamento</a>
            {% if current_user.is_admin %}
                <a href="{{ url_for('cadastrarCliente') }}" class="btn btn-primary">Criar Cliente</a>
                <a href="{{ url_for('servicos') }}" class="btn btn-primary">Cadastrar Servico</a>
            {% endif %}
    {% else %}
        <h1 class="text-center">Olá! Esse é o sistema de agendamentos da Cabeleleila Leila!</h1>
        <p class="text-center mt-4">Você precisa estar logado para acessar ou criar agendamentos.</p>
        <div class="col mt-5 text-center">
            <a href="{{ url_for('login') }}" class="btn btn-primary">Login</a>
            <a href="{{ url_for('cadastro') }}" class="btn btn-primary">Cadastro</a>
        </div>
    {% endif %}
</div>
{% endblock %}